
*{
    margin: 0;
    padding: 0;
}

body{
    
    /* padding-inline: 30px 30px; */
    font-family: 'Roboto', sans-serif;
}
#topheader .navbar-nav li > a {
    text-transform: capitalize;
    color: white;
    -webkit-transition: background-color .2s, color .2s;
    transition: background-color .2s, color .2s;
}
#topheader .navbar-nav li > a:hover, 
#topheader .navbar-nav li > a:focus {
    background-color: #EFEFEF;
    color: black;
    border-radius: 10px;
}
#topheader .navbar-nav li.active > a {
    background-color: #D1D1D1;
    color: black;
    border-radius: 10px;

}
.navbar{
   padding-left: 50px;
   padding-right: 50px;
}
.navbar ul{
    
    text-align: center;
}
#topheader{
    padding-bottom: 10px;
}

#carouselExampleCaptions .center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 30%;
    min-width: auto;
}

.carousel-item p{
    font-size: 1em;
    
}
.carousel-inner{
    background-size: cover;
    background-color: white;
}

.section2{
    padding-bottom: 30px;
}
figure img{
    width: 100px;
    height: 300px;
    
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 30px;
}
#slide1{
    background-color: white;
    background-size: cover;
    background-position: center;
    min-height: 350px;
}
#slide2{
    background-color: white;
    background-size: cover;
    background-position: center;
    min-height: 350px;
}
#slide3{
    background-color: white;
    background-size: cover;
    background-position: center;
    min-height: 350px;
}
.card #tittle1{
    background-image: url(/image/img5.jpeg);
    background-size: cover;
    background-position:center;
    height: 200px;
}
.card #tittle2{
    background-image: url(/image/img6.jpeg);
    background-size: cover;
    background-position:center;
    height: 200px;
}
.card #tittle3{
    background-image: url(/image/img7.jpeg);
    background-size: cover;
    background-position:center;
    height: 200px;
}
#cardcarosel{
    background-image: url(/image/img1.jpeg);
    background-size: cover;
    background-position:center;
    height: 350px;
    
}

.social-icons i {
    padding-right: 10px;
}
#isi
{
    background-image:url(/image/img1.jpeg);
    background-size: cover;
    background-position:center;
    height: 200px;
    
}
#isi1
{
    background-image:url(/image/img2.jpeg);
    background-size: cover;
    background-position:center;
    height: 200px;
    
}
#isicaraousel{
    background-image:url(/image/img1.jpeg);
    background-size: cover;
    background-position:center;
    height: 200px;
    align-items: center;
    padding-top: 30px;


}
.carosel{
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
}
#konten1{
    padding-right: 15px;
    padding-bottom: 20px;
}
#konten2{
    padding-left: 15px;
    padding-bottom: 20px;
}
.section3 {
    padding-bottom: 30px;
    
}
.section3 p{
    /* font-size: 1.5vw; */
    text-align: justify;
}
